.container{
    /* margin: auto; */
    position: relative;
    width: 100vw;
    height: 100vh;
    margin-top: 0%;
    margin-left: -50%;
   
    /* background-color: #EF005A; */
}

.wheel{
    margin: auto;
    position: absolute;
    top: 50%;
	left: 50%; 
    transform: translate(0%, -50%);
    width: 506px;
    height: 506px;
    background-image: url('./ui/OuterWheel.png');
    margin-top: -10vh;
}

.wheel .innerWheel{
    position: absolute; 
    top: 50%;
	left: 50%; 
    transform: translate(-50%, -50%);
    width: 430px;
    height: 430px;
    background-image: url('./ui/InnerWheel_WithTextsT.png');   
}

.wheel .arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 172px;
    height: 200px;
    background-image: url('./ui/Arrow.png');
    margin-top: -42%;
}

.wheel .spinButton{
    position: absolute;
    display: block;
    width: 238px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #EF005A;
    border-radius: 40px;
    margin-top: 70%;
    cursor: pointer;

    font-family:sans-serif; 
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFF;

}

.wheel .tryAgainMsg{
    display: none;
    position: absolute;
    width: 300px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60%;

    font-family:sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

}